@import "~bootstrap/scss/bootstrap";

@import "./colors";

@import "./components/background-container";
@import "./components/item";

@import "./components/modals/add-person-modal";
@import "./components/modals/qr-code-modal";
@import "./components/modals/upload-image-modal";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
