.search-container {
  max-width: 400px;
  position: relative;

  .search-input {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }

  .search-input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease; /* Smooth transition for color change on hover */
  }

  .search-button:focus {
    outline: none;
  }

  .search-button:hover {
    color: #555;
  }
}
